/* line 226, sprite/*.png */
.sprite-sprite, .clearfix a#pull:after, .icon1, .icon2, .icon4, .que, .upload, .refesh, .wishlish, .upload:hover, .refesh:hover, .wishlish:hover, .social ul li a.facebook, .social ul li a.twitter, .social ul li a.vimeo, .social ul li a.dribbble, .social ul li a.flickr, .get-intouch-center-form input[type="submit"] {
  background: url('../images/sprite-sc2de40fb08.png') no-repeat;
}

/* line 3, ../sass/style.sass */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, dl, dt, dd, ol {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 12, ../sass/style.sass */
nav ul, nav li {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 20, ../sass/style.sass */
fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 28, ../sass/style.sass */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 31, ../sass/style.sass */
ol, ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* line 36, ../sass/style.sass */
blockquote, q {
  quotes: none;
}

/* line 40, ../sass/style.sass */
blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 45, ../sass/style.sass */
q:before, q:after {
  content: "";
  content: none;
}

/* line 49, ../sass/style.sass */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* start editing from here */
/* line 55, ../sass/style.sass */
a {
  text-decoration: none;
}

/* line 58, ../sass/style.sass */
.txt-rt {
  text-align: right;
}

/* text align right */
/* line 63, ../sass/style.sass */
.txt-lt {
  text-align: left;
}

/* text align left */
/* line 68, ../sass/style.sass */
.txt-center {
  text-align: center;
}

/* text align center */
/* line 73, ../sass/style.sass */
.float-rt {
  float: right;
}

/* float right */
/* line 78, ../sass/style.sass */
.float-lt {
  float: left;
}

/* float left */
/* line 83, ../sass/style.sass */
.clear {
  clear: both;
}

/* clear float */
/* line 88, ../sass/style.sass */
.pos-relative {
  position: relative;
}

/* Position Relative */
/* line 93, ../sass/style.sass */
.pos-absolute {
  position: absolute;
}

/* Position Absolute */
/* line 98, ../sass/style.sass */
.vertical-base {
  vertical-align: baseline;
}

/* vertical align baseline */
/* line 103, ../sass/style.sass */
.vertical-top {
  vertical-align: top;
}

/* vertical align top */
/* line 108, ../sass/style.sass */
.underline {
  padding-bottom: 5px;
  border-bottom: 1px solid #eeeeee;
  margin: 0 0 20px 0;
}

/* Add 5px bottom padding and a underline */
/* line 116, ../sass/style.sass */
nav.vertical ul li {
  display: block;
}
/* line 118, ../sass/style.sass */
nav.horizontal ul li {
  display: inline-block;
}

/* vertical menu */
/* horizontal menu */
/* line 124, ../sass/style.sass */
img {
  max-width: 100%;
}

/*end reset */
/* line 129, ../sass/style.sass */
body {
  background: white;
  font-family: "Alegreya", serif;
  font-size: 100%;
}

/* line 134, ../sass/style.sass */
.wrap {
  margin: 0 auto;
  width: 70%;
}

/* start header */
/* line 140, ../sass/style.sass */
.header_bg {
  background: #6c5468;
  position: relative;
  padding: 0.5em 0em 0.5em 0em;
}

/* line 145, ../sass/style.sass */
.logo {
  position: absolute;
  left: 0%;
  right: 0%;
  z-index: 999;
  top: -40px;
  text-align: center;
  width: 17%;
  margin: 0 auto;
}

/* line 157, ../sass/style.sass */
.cssmenu > ul > li {
  display: inline-block;
  position: relative;
}
/* line 160, ../sass/style.sass */
.cssmenu > ul > li.active a {
  border-bottom: 1px solid white;
}
/* line 162, ../sass/style.sass */
.cssmenu > ul > li img {
  vertical-align: middle;
}
/* line 164, ../sass/style.sass */
.cssmenu > ul > li > a {
  color: white;
  font-size: 1.5em;
  font-style: italic;
  padding: 1.5em 1em 0.5em 1em;
  display: block;
  border-bottom: 1px solid #6c5468;
}
/* line 171, ../sass/style.sass */
.cssmenu > ul > li:nth-child(4) {
  margin-left: 35%;
}
/* line 174, ../sass/style.sass */
.cssmenu > ul > li > a:hover {
  border-bottom: 1px solid white;
  color: white;
}
/* line 177, ../sass/style.sass */
.cssmenu > ul > li > ul {
  z-index: 999;
  opacity: 0;
  visibility: hidden;
  background: #5c5c5c;
  color: white;
  text-align: left;
  position: absolute;
  top: 55px;
  left: 50%;
  margin-top: 22px;
  margin-left: -90px;
  width: 180px;
  -webkit-transition: all 0.3s 0.1s;
  -moz-transition: all 0.3s 0.1s;
  -o-transition: all 0.3s 0.1s;
  transition: all 0.3s 0.1s;
}
/* line 194, ../sass/style.sass */
.cssmenu > ul > li:hover > ul {
  opacity: 1;
  top: 65px;
  visibility: visible;
}
/* line 198, ../sass/style.sass */
.cssmenu > ul ul > li {
  position: relative;
}
/* line 201, ../sass/style.sass */
.cssmenu ul ul a {
  border-bottom: 1px solid #222121;
  text-transform: uppercase;
  font-family: "Source Sans Pro", sans-serif;
  color: white;
  font-size: 14px;
  background: black;
  padding: 12px;
  display: block;
  -webkit-transition: 0.9s;
  -moz-transition: 0.9s;
  -o-transition: 0.9s;
  transition: 0.9s;
}
/* line 214, ../sass/style.sass */
.cssmenu ul ul a:hover {
  background-color: #f0f0f0;
}
/* line 216, ../sass/style.sass */
.cssmenu ul ul ul {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: -16px;
  left: 206px;
  padding: 8px;
  background-color: #fafafa;
  text-align: left;
  width: 160px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
/* line 230, ../sass/style.sass */
.cssmenu ul ul > li:hover > ul {
  opacity: 1;
  left: 190px;
  visibility: visible;
}
/* line 234, ../sass/style.sass */
.cssmenu ul ul a:hover {
  background: white;
  color: black;
}

/* display with 840px */
/* line 240, ../sass/style.sass */
.top-nav {
  display: none;
}

/* line 243, ../sass/style.sass */
.nav_bg {
  background: #464646;
}

/* line 246, ../sass/style.sass */
.clearfix {
  height: 40px;
  width: 100%;
  font-size: 11pt;
  position: relative;
  z-index: 9999;
}
/* line 252, ../sass/style.sass */
.clearfix ul {
  padding: 0;
  margin: 0 auto;
  display: none;
  background: #f0f0f0;
}
/* line 257, ../sass/style.sass */
.clearfix li {
  display: block;
}
/* line 259, ../sass/style.sass */
.clearfix a {
  color: #555555;
  font-size: 18px;
  display: block;
  width: 100%;
  text-indent: 10px;
  text-align: left;
  text-decoration: none;
  line-height: 40px;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  font-style: italic;
}
/* line 275, ../sass/style.sass */
.clearfix li a {
  border-bottom: 1px solid rgba(90, 85, 73, 0.17);
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
/* line 280, ../sass/style.sass */
.clearfix li:last-child a {
  border-right: 0;
}
/* line 283, ../sass/style.sass */
.clearfix a:hover, .clearfix a:active {
  background: rgba(108, 84, 104, 0.64);
  color: white;
}
/* line 286, ../sass/style.sass */
.clearfix a#pull {
  font-size: 20px;
  display: block;
  width: 100%;
  position: relative;
  color: white;
}
/* line 292, ../sass/style.sass */
.clearfix a#pull:after {
  background-position: 0 -863px;
  width: 30px;
  content: "";
  width: 30px;
  height: 30px;
  display: inline-block;
  position: absolute;
  right: 15px;
  top: 10px;
}

/* line 303, ../sass/style.sass */
.icon1 {
  width: 44px;
  height: 44px;
  background-position: 0 -550px;
  display: block;
  margin: 0 auto;
}

/* line 310, ../sass/style.sass */
.icon2 {
  width: 44px;
  height: 44px;
  background-position: 0 -638px;
  display: block;
  margin: 0 auto;
}

/* line 317, ../sass/style.sass */
.icon4 {
  width: 44px;
  height: 44px;
  background-position: 0 -594px;
  display: block;
  margin: 0 auto;
}

/* line 324, ../sass/style.sass */
.que {
  width: 56px;
  height: 48px;
  display: block;
  margin: 0 auto;
  background-position: 0 -444px;
}

/**** Media Quries **** */
@media only screen and (max-width: 1280px) {
  /* line 333, ../sass/style.sass */
  .cssmenu > ul > li > a {
    padding: 14px 23px;
  }
}
@media only screen and (max-width: 800px) {
  /* line 337, ../sass/style.sass */
  .cssmenu {
    float: none;
    text-align: center;
    display: none;
  }

  /* line 341, ../sass/style.sass */
  .top-nav {
    display: block;
  }
}
/* line 344, ../sass/style.sass */
.header_bottom {
  position: absolute;
  width: 100%;
  height: 31px;
}

/*--slider-- */
/* line 351, ../sass/style.sass */
.text-slider {
  background: url(../images/bg4.jpg) no-repeat 0px 0px;
  background-size: 100%;
}

/*--//End-slider-- */
/* line 357, ../sass/style.sass */
.con {
  margin: 0% 10%;
  padding-top: 15em;
  padding-bottom: 2em;
}
/* line 361, ../sass/style.sass */
.con span {
  width: 56px;
  display: block;
  margin: 0 auto;
}
/* line 365, ../sass/style.sass */
.con p {
  color: white;
  font-size: 3.6em;
  text-align: center;
  padding: 1em 0em;
}
/* line 370, ../sass/style.sass */
.con span h6 {
  border-bottom: 1px solid white;
}

/******main************* */
/* line 375, ../sass/style.sass */
.main {
  padding: 5em 0em;
  background: #fafafa;
}

/* line 379, ../sass/style.sass */
.part_of_1 {
  text-align: center;
}

/* line 382, ../sass/style.sass */
.image {
  text-align: center;
  padding: 2em 0em;
}
/* line 385, ../sass/style.sass */
.image a {
  border: 1px solid #e3e3e3;
  border-radius: 50%;
  display: inline-block;
  box-shadow: 0px 0px 3px #979797;
}

/* line 392, ../sass/style.sass */
.part_of_1 img {
  margin: 10px 13px 7px 13px;
}
/* line 394, ../sass/style.sass */
.part_of_1 p, .part_of_1 span {
  color: #979797;
  font-size: 2.2em;
  font-style: italic;
}

/* line 399, ../sass/style.sass */
.grid_of_1 {
  text-align: center;
  padding: 3em 0em;
}

/* line 403, ../sass/style.sass */
.images, .dc-head-img {
  border-radius: 50%;
  display: inline-block;
  border: 1px solid #e3e3e3;
  box-shadow: 0px 0px 6px #e3e3e3;
}

/* line 409, ../sass/style.sass */
.images a {
  border-radius: 50%;
  display: inline-block;
  background: #946d8d;
  padding: 0.3em;
  margin: 12px;
}

/* line 416, ../sass/style.sass */
.grid_of_1 h3 {
  color: #7d7d7d;
  font-size: 2em;
  text-transform: uppercase;
  padding: 1.1em 0em;
}

/* line 422, ../sass/style.sass */
.para {
  color: #969696;
  width: 50%;
  margin: 0 auto;
  font-size: 1.5em;
  line-height: 1.7em;
  font-weight: 100;
}

/* line 430, ../sass/style.sass */
.para1 {
  width: 100%;
  padding-top: 1.5em;
}

/* line 435, ../sass/style.sass */
.grid_of_1 h4 {
  color: #454545;
  font-size: 1.8em;
  padding: 1.3em 0em 0.4em 0em;
  font-style: italic;
}
/* line 440, ../sass/style.sass */
.grid_of_1 h5 {
  color: #7d7d7d;
  font-size: 1.9em;
  padding: 0.6em 0em 0em 0em;
  font-style: italic;
}

/* line 446, ../sass/style.sass */
.links {
  width: 176px;
  margin: 0 auto;
}
/* line 449, ../sass/style.sass */
.links ul {
  padding: 1em 0.5em;
  border-radius: 2px;
}
/* line 450, ../sass/style.sass */
.links ul li {
  float: left;
}
/* line 452, ../sass/style.sass */
.links ul li a {
  height: 29px;
  width: 53px;
  display: inline-block;
}
/* line 456, ../sass/style.sass */
.links ul li .refesh {
  height: 24px;
  margin-top: 4px;
}

/* line 462, ../sass/style.sass */
.upload {
  background-position: 0 -359px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

/* line 469, ../sass/style.sass */
.refesh {
  background-position: 0 -389px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

/* line 476, ../sass/style.sass */
.wishlish {
  background-position: 0 -329px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

/* line 483, ../sass/style.sass */
.upload:hover {
  background-position: 0 -275px;
}

/* line 486, ../sass/style.sass */
.refesh:hover {
  background-position: 0 -305px;
}

/* line 489, ../sass/style.sass */
.wishlish:hover {
  background-position: 0 -245px;
}

/* line 492, ../sass/style.sass */
.grid_of_1 span {
  width: 100px;
  display: block;
  margin: 0 auto;
  padding: 1.56em 0em;
}
/* line 497, ../sass/style.sass */
.grid_of_1 span h6 {
  border-bottom: 2px solid #979797;
}

/* line 500, ../sass/style.sass */
.bg_images, .bg_vedio {
  width: 70%;
  margin: 0 auto;
  padding: 3em 0em 1em 0em;
}
/* line 504, ../sass/style.sass */
.bg_images a, .bg_vedio a {
  display: inline-block;
  padding: 1.5em;
  margin: 15px;
  border: 1px solid #e3e3e3;
  box-shadow: 0px 0px 6px #e3e3e3;
}

/* line 511, ../sass/style.sass */
.footer {
  background: #6c5468;
}

/* line 514, ../sass/style.sass */
.social {
  text-align: center;
  padding: 3% 0%;
  margin: 0% auto;
  width: 37%;
}
/* line 519, ../sass/style.sass */
.social ul {
  padding: 1em 0.5em;
  border-radius: 2px;
}
/* line 520, ../sass/style.sass */
.social ul li {
  float: left;
  margin-right: 20px;
  background: #9d919b;
  border-radius: 50px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
/* line 523, ../sass/style.sass */
.social ul li:nth-child(5) {
  margin-right: 0px;
}
/* line 531, ../sass/style.sass */
.social ul li a {
  margin: 1.2em;
  display: block;
  vertical-align: middle;
  width: 24px;
  height: 24px;
}
/* line 537, ../sass/style.sass */
.social ul li a.facebook {
  background-position: 0 -839px;
}
/* line 540, ../sass/style.sass */
.social ul li a.twitter {
  background-position: 0 -736px;
}
/* line 543, ../sass/style.sass */
.social ul li a.vimeo {
  background-position: 0 -712px;
}
/* line 546, ../sass/style.sass */
.social ul li a.dribbble {
  background-position: 0 -492px;
}
/* line 549, ../sass/style.sass */
.social ul li a.flickr {
  background-position: 0 -804px;
}
/* line 552, ../sass/style.sass */
.social ul li a img {
  vertical-align: middle;
}
/* line 554, ../sass/style.sass */
.social ul li:hover {
  background: white;
}

/*----copy-right---- */
/* line 561, ../sass/style.sass */
.copy-right {
  background: #52334d;
  text-align: center;
  padding: 1em 0;
}
/* line 564, ../sass/style.sass */
.copy-right p {
  color: #6c5468;
}
/* line 566, ../sass/style.sass */
.copy-right p a {
  color: white;
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all;
}
/* line 572, ../sass/style.sass */
.copy-right p a:hover {
  color: #6c5468;
}

/*---- */
/********start-about***** */
/*---strat-about---- */
/*--about-- */
/* line 581, ../sass/style.sass */
.col:first-child {
  margin-left: 0;
}

/* line 584, ../sass/style.sass */
.content {
  margin: 7em 0em;
}

/* line 587, ../sass/style.sass */
.col {
  display: block;
  float: left;
  margin: 1% 0 1% 1.6%;
}

/* line 592, ../sass/style.sass */
.span_1_of_about {
  width: 65%;
}

/* line 596, ../sass/style.sass */
.about h3 {
  border-bottom: 1px solid #6c5468;
  font-size: 2em;
  color: #7d7d7d;
  font-family: "Alegreya", serif;
  text-transform: uppercase;
  padding: 0.3em 0em;
  margin-bottom: 1em;
}
/* line 604, ../sass/style.sass */
.about p {
  color: #969696;
  font-size: 14px;
  line-height: 1.8em;
  font-family: "Open Sans", sans-serif;
}

/* line 610, ../sass/style.sass */
.about-img {
  width: 29%;
  float: left;
  margin-right: 3%;
}

/* line 615, ../sass/style.sass */
.about-desc {
  width: 68%;
  float: left;
  margin-right: 0;
}

/* line 620, ../sass/style.sass */
.grid_1_of_4 {
  display: block;
  float: left;
  margin: 1% 0 1% 1.6%;
  text-align: center;
}
/* line 625, ../sass/style.sass */
.grid_1_of_4:first-child {
  margin-left: 0;
}

/* line 628, ../sass/style.sass */
.images_1_of_4 {
  width: 45%;
  padding: 1.5%;
}
/* line 631, ../sass/style.sass */
.images_1_of_4 img {
  max-width: 100%;
  border-radius: 50%;
  margin: 6px -2px 4px 0px;
}
/* line 635, ../sass/style.sass */
.images_1_of_4 h6 {
  color: #4e525d;
  font-size: 1em;
  font-style: italic;
}

/* line 640, ../sass/style.sass */
.span_1_of_about1 {
  width: 30%;
  margin-left: 5%;
}

/* line 644, ../sass/style.sass */
.col {
  display: block;
  float: left;
}
/* line 647, ../sass/style.sass */
.col.span_1_of_about1 > ul {
  padding: 3.5em 0em;
}

/* line 651, ../sass/style.sass */
.comments-custom li {
  overflow: hidden;
  margin: 0;
  padding: 0px 0 25px 0;
  border-bottom: none;
  background: none;
}
/* line 657, ../sass/style.sass */
.comments-custom.unstyled .icon {
  width: 37px;
  height: 70px;
  float: left;
  border-right: 1px solid #ebebeb;
  padding: 0 8px 0 0;
  margin: 0 10px 0 0;
}

/* line 666, ../sass/style.sass */
.right-text {
  width: 80%;
  float: left;
}

/* line 670, ../sass/style.sass */
.comments-custom.unstyled .comments-custom_h, .images_1_of_4 h4 a, .about-topgrid1 h5, .about-histore ul li span, .questions h4 {
  color: #6c5468;
  font-size: 1.3em;
  font-style: italic;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

/* line 680, ../sass/style.sass */
.comments-custom.unstyled:hover .comments-custom_h:hover, .images_1_of_4 h4 a:hover, .about-topgrid1 h5:hover, .about-histore ul li span:hover, .questions h4:hover {
  color: #868f98;
  cursor: pointer;
}

/* line 684, ../sass/style.sass */
.comments-custom.unstyled .comments-custom_txt {
  padding: 10px 0px;
  font-size: 13px;
  line-height: 1.5em;
}
/* line 688, ../sass/style.sass */
.comments-custom.unstyled .comments-custom_txt a {
  color: #969696;
  font-family: "Open Sans", sans-serif;
}

/* line 692, ../sass/style.sass */
.about-top {
  margin-bottom: 1%;
}

/* line 695, ../sass/style.sass */
.about-bottom {
  margin-bottom: 2%;
}

/* line 698, ../sass/style.sass */
.comments-custom time {
  font-size: 11px;
  color: #888888;
  font-family: "Open Sans", sans-serif;
}

/* line 703, ../sass/style.sass */
.about-topgrid1 {
  width: 29%;
  float: left;
  margin-right: 5%;
}
/* line 707, ../sass/style.sass */
.about-topgrid1 img {
  margin-bottom: 10px;
}
/* line 709, ../sass/style.sass */
.about-topgrid1 h5 {
  font-size: 13px;
  padding: 2em 0em;
}

/* line 713, ../sass/style.sass */
.about-histore {
  float: left;
  width: 30%;
}
/* line 717, ../sass/style.sass */
.about-histore ul li span {
  font-size: 14px;
  padding: 15px 0px 15px 0px;
  margin-bottom: 13px;
  float: left;
  width: 15%;
}
/* line 723, ../sass/style.sass */
.about-histore ul li span:hover {
  color: #868f98;
  cursor: pointer;
}
/* line 726, ../sass/style.sass */
.about-histore ul li p {
  padding: 4px 0px 8px 0px;
  float: right;
  width: 83%;
}

/* line 731, ../sass/style.sass */
.about-services {
  width: 30%;
  float: left;
  margin-left: 5%;
}

/* line 736, ../sass/style.sass */
.questions {
  margin: 10px 0 3px 0;
}
/* line 738, ../sass/style.sass */
.questions h4 {
  font-size: 15px;
  margin-bottom: 5px;
}
/* line 741, ../sass/style.sass */
.questions p {
  padding: 4px 0px 8px 0px;
}

/*---//End-about---- */
/*******start_musings**** */
/* line 747, ../sass/style.sass */
.main1 {
  padding: 10em 0em 4em 0em;
}

/* line 750, ../sass/style.sass */
#gallerylist {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  overflow: hidden;
  width: 100%;
}

/* line 757, ../sass/style.sass */
.gallerylist-wrapper {
  overflow: hidden;
  position: relative !important;
  cursor: pointer;
  width: 31%;
  margin-right: 3.333%;
  float: left;
}

/* line 765, ../sass/style.sass */
.gallerylist img {
  max-width: 100%;
  position: relative;
  -webkit-filter: grayscale(100%);
  opacity: 5;
  transition: all 300ms !important;
  -webkit-transition: all 300ms !important;
  -moz-transition: all 300ms !important;
}

/* line 774, ../sass/style.sass */
.gallerylist-wrapper:nth-child(3) {
  margin-right: 0px;
}

/* line 777, ../sass/style.sass */
.simg {
  width: 30px;
  height: 30px;
}

/* Magnific Popup CSS */
/* line 783, ../sass/style.sass */
.mfp-bg {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1042;
  overflow: hidden;
  position: fixed;
  background: #0b0b0b;
  opacity: 0.9;
  filter: alpha(opacity=80);
}

/* line 795, ../sass/style.sass */
.mfp-wrap {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1043;
  position: fixed;
  outline: none !important;
  -webkit-backface-visibility: hidden;
}

/* line 805, ../sass/style.sass */
.mfp-hide {
  display: none !important;
}

/* line 809, ../sass/style.sass */
button.mfp-close, button.mfp-arrow {
  overflow: visible;
  cursor: pointer;
  background: transparent;
  border: 0;
  -webkit-appearance: none;
  display: block;
  padding: 0;
  z-index: 1046;
}
/* line 818, ../sass/style.sass */
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

/* line 822, ../sass/style.sass */
.mfp-close {
  width: 30px;
  height: 30px;
  position: absolute;
  right: 0;
  top: 0;
  text-decoration: none;
  text-align: center;
  opacity: 0.65;
  padding: 0 0 18px 10px;
  color: white;
  font-style: normal;
  font-size: 28px;
  outline: none;
}
/* line 836, ../sass/style.sass */
.mfp-close:hover, .mfp-close:focus {
  opacity: 9;
}
/* line 838, ../sass/style.sass */
.mfp-close:active {
  top: 0px;
}

/* line 841, ../sass/style.sass */
.mfp-close-btn-in .mfp-close {
  color: white;
}

/* Styles for dialog window */
/* pop_up */
/* line 847, ../sass/style.sass */
#small-dialog1 {
  padding: 30px;
  text-align: left;
  max-width: 50%;
  margin: 40px auto;
  position: relative;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -o-border-radius: 2px;
}

/* line 859, ../sass/style.sass */
.my-mfp-zoom-in #small-dialog1 {
  opacity: 0;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  -webkit-transform: scale(0.8);
  -moz-transform: scale(0.8);
  -ms-transform: scale(0.8);
  -o-transform: scale(0.8);
  transform: scale(0.8);
}
/* line 870, ../sass/style.sass */
.my-mfp-zoom-in.mfp-ready #small-dialog1 {
  opacity: 1;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}
/* line 877, ../sass/style.sass */
.my-mfp-zoom-in.mfp-removing #small-dialog1 {
  -webkit-transform: scale(0.8);
  -moz-transform: scale(0.8);
  -ms-transform: scale(0.8);
  -o-transform: scale(0.8);
  transform: scale(0.8);
  opacity: 0;
}

/* animate in */
/* animate out */
/* line 889, ../sass/style.sass */
.pop_up p a {
  font-size: 1em;
  color: #555555;
  line-height: 1.8em;
}

/* line 895, ../sass/style.sass */
.gallerylist-wrapper span {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  text-align: center;
  color: white;
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.6);
  opacity: 0;
  filter: alpha(opacity=0);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(opacity=0)";
  background: rgba(0, 0, 0, 0.53);
  -moz-transition: opacity 0.3s linear;
  -o-transition: opacity 0.3s linear;
  -ms-transition: opacity 0.3s linear;
  transition: opacity 0.3s linear;
  -webkit-appearance: none;
  text-transform: capitalize;
  -webkit-transition: 0.9s;
  -moz-transition: 0.9s;
  -o-transition: 0.9s;
  transition: 0.9s;
}
/* line 918, ../sass/style.sass */
.gallerylist-wrapper:hover span {
  opacity: 1;
}

/* line 921, ../sass/style.sass */
#gallerylist1 {
  padding: 2em 0em 0em 0em;
}

/* line 925, ../sass/style.sass */
.gallerylist-wrapper span h2 {
  color: white;
  font-size: 1.6em;
  font-style: italic;
  margin: 1.2em 0em 0.5em 0em;
}
/* line 930, ../sass/style.sass */
.gallerylist-wrapper span p {
  color: white;
  font-size: 1em;
  margin: 0.5em 0.5em 1.5em 0.5em;
  line-height: 1.8em;
  text-align: center;
}

/* line 937, ../sass/style.sass */
.main_btm {
  border: 1px solid #e3e3e3;
  box-shadow: 0px 0px 6px #e3e3e3;
}

/* line 941, ../sass/style.sass */
.gallery {
  margin: 10px;
}

/***end_musing**** */
/****start-verse**** */
/*--single-- */
/* line 948, ../sass/style.sass */
.single-blog {
  width: 67.3%;
  float: left;
  padding: 0 3.6%;
}

/* line 953, ../sass/style.sass */
.project-sidebar {
  width: 25.5%;
  float: left;
}

/* line 957, ../sass/style.sass */
.single-img img {
  display: block;
}

/* line 960, ../sass/style.sass */
p.blog-text {
  color: #969696;
  font-size: 0.95em;
  line-height: 1.8em;
  padding: 30px 0;
  font-family: "Open Sans", sans-serif;
}

/* line 967, ../sass/style.sass */
.project-list {
  background: #6c5468;
  padding: 20px 20px 8px 20px;
  margin-bottom: 30px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
}
/* line 975, ../sass/style.sass */
.project-list h4 {
  font-size: 1.4em;
  color: #efccf8;
  margin-bottom: 20px;
  text-transform: uppercase;
  font-style: italic;
}

/* line 982, ../sass/style.sass */
.project-list1 h4, .project-list2 h4 {
  font-size: 1.4em;
  color: #efccf8;
  margin-bottom: 20px;
  text-transform: uppercase;
  font-style: italic;
}

/* line 989, ../sass/style.sass */
.blog-list li {
  margin-left: 20px;
  margin-bottom: 20px;
}
/* line 992, ../sass/style.sass */
.blog-list li a {
  font-size: 0.8125em;
  color: white;
  vertical-align: top;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
/* line 1000, ../sass/style.sass */
.blog-list li a:hover {
  color: #969696;
}

/* line 1003, ../sass/style.sass */
.project-list1 {
  background: #6c5468;
  padding: 20px 20px 0 20px;
  margin-bottom: 30px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
}
/* line 1011, ../sass/style.sass */
.project-list1 li {
  margin-bottom: 20px;
}
/* line 1012, ../sass/style.sass */
.project-list1 li img {
  float: left;
  margin-right: 15px;
  width: 27%;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -o-border-radius: 50%;
}
/* line 1021, ../sass/style.sass */
.project-list1 li p {
  width: 64.5%;
  float: left;
}
/* line 1024, ../sass/style.sass */
.project-list1 li p a {
  padding: 0;
  color: white;
  font-size: 12px;
  text-transform: uppercase;
}

/* line 1031, ../sass/style.sass */
span.likes {
  float: right;
  font-size: 0.8125em;
  color: white;
  padding-top: 18px;
}
/* line 1036, ../sass/style.sass */
span.link1 a {
  color: white;
  margin-right: 10px;
}
/* line 1039, ../sass/style.sass */
span.link1 a:hover {
  text-decoration: underline;
}

/* line 1042, ../sass/style.sass */
.comment-desc a:hover {
  text-decoration: underline;
}

/* line 1046, ../sass/style.sass */
ul.dc_pagination {
  height: 100%;
  list-style-type: none;
  margin: 30px 0 0px;
  overflow: hidden;
  padding: 0px;
}
/* line 1052, ../sass/style.sass */
ul.dc_pagination li {
  float: left;
  margin: 0px;
  margin-left: 5px;
  padding: 0px;
}
/* line 1053, ../sass/style.sass */
ul.dc_pagination li:first-child {
  margin-left: 0px;
  margin-right: 15%;
  text-transform: uppercase;
}
/* line 1061, ../sass/style.sass */
ul.dc_pagination li a {
  color: black;
  display: block;
  padding: 7px 10px 7px 10px;
  text-decoration: none;
  font-size: 1.1em;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
/* line 1072, ../sass/style.sass */
ul.dc_paginationA06 li a:hover, ul.dc_paginationA06 li a.current {
  background: #6c5468;
  color: white;
}
/* line 1075, ../sass/style.sass */
ul.dc_pagination li:last-child {
  margin-left: 22%;
  margin-right: 0px;
  text-transform: uppercase;
}

/** */
/* line 1082, ../sass/style.sass */
.images1 {
  border-radius: 0px;
}

/* line 1085, ../sass/style.sass */
.single-img {
  margin: 10px;
}

/******start-prose******** */
/*  GRID OF THREE   ============================================================================= */
/* line 1091, ../sass/style.sass */
.col_1_of_3 {
  display: block;
  float: left;
  margin: 0% 0 0% 3.6%;
}
/* line 1095, ../sass/style.sass */
.col_1_of_3:first-child {
  margin-left: 0;
}

/* line 1098, ../sass/style.sass */
.span_1_of_3 {
  width: 30.2%;
}
/* line 1100, ../sass/style.sass */
.span_1_of_3 h3 {
  color: #777777;
  font-size: 1.7em;
  line-height: 1.2;
  font-weight: normal;
  margin-top: 0px;
  letter-spacing: -1px;
  margin-bottom: 20px;
  text-transform: uppercase;
}

/* line 1110, ../sass/style.sass */
h5.head {
  color: #555555;
  font-size: 2.3em;
  line-height: 35px;
  text-transform: uppercase;
  margin-bottom: 3%;
}

/*--content-- */
/* line 1119, ../sass/style.sass */
.dc-head-img {
  float: left;
  width: 47%;
}
/* line 1122, ../sass/style.sass */
.dc-head-img img {
  border-radius: 500px;
  -webkit-border-radius: 500px;
  -moz-border-radius: 500px;
  -o-border-radius: 500px;
}

/* line 1128, ../sass/style.sass */
.dc-head-info {
  float: left;
  width: 47%;
  margin: 2.1em 0em 0em 1em;
}

/* line 1133, ../sass/style.sass */
h5.head {
  color: #555555;
  font-size: 2.3em;
  line-height: 35px;
  text-transform: uppercase;
  margin-bottom: 3%;
  text-align: center;
}

/* line 1141, ../sass/style.sass */
.dc-head-info span {
  color: #888888;
  font-size: 1.1em;
  text-transform: uppercase;
  font-style: italic;
}

/* line 1147, ../sass/style.sass */
.dc-profile p {
  font-size: 1.1em;
  color: #969696;
  padding: 20px 0px;
  line-height: 1.5em;
  font-family: "Open Sans", sans-serif;
}

/* line 1154, ../sass/style.sass */
.btn-6a {
  border: 2px solid #6c5468;
}

/* line 1157, ../sass/style.sass */
.btn-6 {
  color: white;
  background: #6c5468;
  -webkit-transition: none;
  -moz-transition: none;
  transition: none;
}

/* line 1164, ../sass/style.sass */
.btn {
  cursor: pointer;
  padding: 6px 15px;
  display: inline-block;
  text-transform: uppercase;
  letter-spacing: 1px;
  outline: none;
  position: relative;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  font-size: 1em;
}

/* line 1177, ../sass/style.sass */
.btn-6a:hover {
  background: rgba(0, 0, 0, 0);
  color: #7d7d7d;
}

/* line 1181, ../sass/style.sass */
.top-box {
  background: #e3f7ce;
}

/* line 1184, ../sass/style.sass */
.content-top {
  padding: 6% 0 6%;
}

/* line 1187, ../sass/style.sass */
.footer-box {
  background: rgba(108, 84, 104, 0.65);
  padding: 9% 0 7% 0%;
}

/* line 1191, ../sass/style.sass */
.slideshow {
  color: white;
}

/* line 1194, ../sass/style.sass */
.f-desc1 {
  color: white;
  font-size: 1em;
  line-height: 1.5em;
  font-family: "Open Sans", sans-serif;
}

/* line 1200, ../sass/style.sass */
h4.f-head {
  font-size: 2em;
  text-align: center;
  color: white;
  margin-bottom: 30px;
  text-transform: uppercase;
  font-style: italic;
}

/* */
/* line 1210, ../sass/style.sass */
.content-middle {
  padding: 5em 0em;
}

/* line 1213, ../sass/style.sass */
.dc-head-img a {
  border-radius: 50%;
  margin: 10px 10px 4px 10px;
  display: block;
}

/*******start_contact**** */
/*----start-get-intouch---- */
/* line 1222, ../sass/style.sass */
.get-intouch h3 {
  font-size: 2em;
  color: #7d7d7d;
  font-family: "Alegreya", serif;
  margin-bottom: 1.2em;
  text-align: center;
  text-transform: uppercase;
  margin: 10em 0 0;
}

/* line 1231, ../sass/style.sass */
.get-intouch-left-address {
  float: left;
  width: 22%;
  padding-right: 2%;
}
/* line 1235, ../sass/style.sass */
.get-intouch-left-address h4 {
  color: #7d7d7d;
  font-size: 1.3em;
  margin: 0.5em 0 0.7em 0;
  width: 95%;
  font-style: italic;
}
/* line 1241, ../sass/style.sass */
.get-intouch-left-address p {
  color: #969696;
  font-size: 1.1em;
  line-height: 1.6em;
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all;
}
/* line 1249, ../sass/style.sass */
.get-intouch-left-address p a {
  color: #969696;
  font-size: 1.1em;
  line-height: 1.6em;
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all;
}
/* line 1257, ../sass/style.sass */
.get-intouch-left-address p a:hover {
  color: #e8432e;
}

/* line 1260, ../sass/style.sass */
.get-intouch-center-form {
  float: left;
  width: 66%;
  padding: 0 3% 0 1%;
}

/* line 1265, ../sass/style.sass */
.get-intouch-right-social {
  float: right;
  width: 6%;
  text-align: center;
  margin-top: 2em;
}

/* line 1272, ../sass/style.sass */
.get-intouch-center-form h5 {
  color: #454545;
  font-size: 1.8em;
  padding: 0.3em 0em;
  font-style: italic;
}
/* line 1277, ../sass/style.sass */
.get-intouch-center-form input[type="text"] {
  width: 48.7%;
  color: #b9b9b9;
  border: 1px solid #cccccc;
  border-right: 0;
  border-left: 0;
  border-top: 0;
  outline: none;
  font-family: "Alegreya", serif;
  padding: 1em 0;
  font-size: 1em;
}
/* line 1288, ../sass/style.sass */
.get-intouch-center-form input[type="text"]:focus {
  color: #946d8d;
}
/* line 1290, ../sass/style.sass */
.get-intouch-center-form textarea {
  width: 100%;
  border: 1px solid #cccccc;
  border-right: 0;
  border-left: 0;
  border-top: 0;
  outline: none;
  font-family: "Alegreya", serif;
  padding: 0.5em 0;
  font-size: 1em;
  height: 40px;
  resize: none;
  color: #b9b9b9;
}
/* line 1291, ../sass/style.sass */
.get-intouch-center-form textarea:focus {
  color: #946d8d;
}

/* line 1306, ../sass/style.sass */
.frist {
  margin-right: 2%;
}

/* line 1309, ../sass/style.sass */
.get-intouch-center-form input[type="submit"] {
  border: none;
  color: black;
  float: right;
  font-size: 1em;
  background-position: 0 -828px;
  padding: 0em 0.2em 0 1.5em;
  outline: none;
  font-family: "Alegreya", serif;
  cursor: pointer;
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all;
  margin-top: 1em;
}
/* line 1324, ../sass/style.sass */
.get-intouch-center-form input[type="submit"]:hover {
  color: #946d8d;
}

/* line 1327, ../sass/style.sass */
.get-intouch-right-social ul li {
  display: block;
}
/* line 1329, ../sass/style.sass */
.get-intouch-right-social ul li a {
  width: 32px;
  height: 32px;
  display: block;
  margin: 0 auto;
  margin-bottom: 0.4em;
}

/* line 1336, ../sass/style.sass */
.be {
  background: url(../images/image-sprite.png) no-repeat -288px 2px;
}

/* line 1339, ../sass/style.sass */
.twitter {
  background: url(../images/image-sprite.png) no-repeat -288px -44px;
}

/* line 1342, ../sass/style.sass */
.dribble {
  background: url(../images/image-sprite.png) no-repeat -288px -87px;
}

/* line 1345, ../sass/style.sass */
.tree {
  background: url(../images/image-sprite.png) no-repeat -288px -133px;
}

/* line 1348, ../sass/style.sass */
.google {
  background: url(../images/image-sprite.png) no-repeat -288px -175px;
}

/*---- */
/* line 1353, ../sass/style.sass */
.map {
  margin-top: 6em;
}

/******end _contact***** */
/* line 1358, ../sass/style.sass */
#toTop {
  display: none;
  text-decoration: none;
  position: fixed;
  bottom: 10px;
  right: 10px;
  overflow: hidden;
  width: 44px;
  height: 44px;
  border: none;
  text-indent: 100%;
  background: url(../images/top_move.png) no-repeat right top;
}

/********response Querys****** */
@media only screen and (max-width: 1440px) {
  /* line 1374, ../sass/style.sass */
  .wrap {
    margin: 0 auto;
    width: 80%;
  }
}
@media only screen and (max-width: 1366px) {
  /* line 1379, ../sass/style.sass */
  .wrap {
    margin: 0 auto;
    width: 80%;
  }

  /* line 1382, ../sass/style.sass */
  .logo {
    width: 20%;
  }

  /* line 1384, ../sass/style.sass */
  .social {
    width: 40%;
  }
}
@media only screen and (max-width: 1280px) {
  /* line 1388, ../sass/style.sass */
  .wrap {
    margin: 0 auto;
    width: 85%;
  }

  /* line 1391, ../sass/style.sass */
  .logo {
    width: 18%;
  }

  /* line 1393, ../sass/style.sass */
  ul.dc_pagination li:last-child {
    margin-left: 15%;
  }
}
@media only screen and (max-width: 1024px) {
  /* line 1397, ../sass/style.sass */
  .wrap {
    margin: 0 auto;
    width: 90%;
  }

  /* line 1400, ../sass/style.sass */
  .social {
    width: 47%;
  }

  /* line 1402, ../sass/style.sass */
  .logo {
    width: 20%;
  }

  /* line 1404, ../sass/style.sass */
  ul.dc_pagination li:last-child {
    margin-left: 10%;
  }

  /* line 1407, ../sass/style.sass */
  .cssmenu > ul > li:nth-child(4) {
    margin-left: 29%;
  }
  /* line 1409, ../sass/style.sass */
  .cssmenu > ul > li > a {
    font-size: 1.3em;
  }

  /* line 1411, ../sass/style.sass */
  .main {
    padding: 2em 0em;
  }

  /* line 1414, ../sass/style.sass */
  .part_of_1 p, .part_of_1 span {
    font-size: 1.7em;
  }

  /* line 1416, ../sass/style.sass */
  .grid_of_1 {
    padding: 1em 0em;
  }
  /* line 1418, ../sass/style.sass */
  .grid_of_1 h3 {
    font-size: 1.5em;
  }

  /* line 1420, ../sass/style.sass */
  .para {
    font-size: 1.2em;
  }

  /* line 1422, ../sass/style.sass */
  .grid_of_1 h4 {
    font-size: 1.6em;
    padding: 0.7em 0em 0.8em 0em;
  }

  /* line 1425, ../sass/style.sass */
  .links ul {
    padding: 0em 0.5em;
  }

  /* line 1427, ../sass/style.sass */
  .grid_of_1 h5 {
    font-size: 1.8em;
  }

  /* line 1429, ../sass/style.sass */
  .bg_vedio > a > iframe {
    width: 560px;
    height: 390px;
  }

  /* line 1432, ../sass/style.sass */
  .about h3, h4.f-head {
    font-size: 1.6em;
  }

  /* line 1434, ../sass/style.sass */
  .right-text {
    width: 79%;
  }

  /* line 1436, ../sass/style.sass */
  .col.span_1_of_about1 > ul {
    padding: 1.5em 0em;
  }

  /* line 1438, ../sass/style.sass */
  .grid_1_of_4 {
    margin: -2% 0 1% 1.6%;
  }

  /* line 1441, ../sass/style.sass */
  .gallerylist-wrapper span p {
    margin: 0em 0.5em 0.5em 0.5em;
  }
  /* line 1443, ../sass/style.sass */
  .gallerylist-wrapper span h2 {
    margin: 0.5em 0em 0.5em 0em;
  }

  /* line 1445, ../sass/style.sass */
  .blog-list li {
    margin-left: 0px;
  }

  /* line 1447, ../sass/style.sass */
  .f-desc1 {
    font-size: 1em;
    line-height: 1.5em;
  }

  /* line 1450, ../sass/style.sass */
  h5.head {
    font-size: 2em;
  }

  /* line 1452, ../sass/style.sass */
  .dc-head-info {
    width: 45%;
    margin: 1.1em 0em 0em 1em;
  }

  /* line 1455, ../sass/style.sass */
  .span_1_of_3 h3 {
    font-size: 1.5em;
  }

  /* line 1457, ../sass/style.sass */
  .dc-head-info span {
    font-size: 1em;
  }

  /* line 1459, ../sass/style.sass */
  .dc-profile p {
    font-size: 0.9em;
  }

  /* line 1461, ../sass/style.sass */
  .get-intouch {
    margin: 7em 0 0;
  }
}
@media only screen and (max-width: 768px) {
  /* line 1465, ../sass/style.sass */
  .logo {
    width: 22%;
    top: -20px;
  }

  /* line 1468, ../sass/style.sass */
  .bg_vedio > a > iframe {
    width: 400px;
    height: 280px;
  }

  /* line 1471, ../sass/style.sass */
  .social {
    width: 58%;
  }
  /* line 1472, ../sass/style.sass */
  .social ul li a {
    padding: 1em;
  }

  /* line 1475, ../sass/style.sass */
  .content {
    margin: 4em 0em;
  }

  /* line 1477, ../sass/style.sass */
  .grid_1_of_4:nth-child(2) {
    display: none;
  }

  /* line 1479, ../sass/style.sass */
  .images_1_of_4 {
    width: 100%;
    padding: 1.5%;
  }

  /* line 1482, ../sass/style.sass */
  .span_1_of_about {
    width: 50%;
  }

  /* line 1484, ../sass/style.sass */
  .span_1_of_about1 {
    width: 40%;
    margin-left: 10%;
  }

  /* line 1487, ../sass/style.sass */
  .about-topgrid1 {
    width: 45%;
    margin-right: 9%;
  }

  /* line 1490, ../sass/style.sass */
  .about-histore {
    float: left;
    width: 45%;
  }

  /* line 1493, ../sass/style.sass */
  .about-services {
    display: none;
  }

  /* line 1495, ../sass/style.sass */
  .main1 {
    padding: 8em 0em 4em 0em;
  }

  /* line 1497, ../sass/style.sass */
  .gallerylist-wrapper {
    width: 48%;
  }
  /* line 1498, ../sass/style.sass */
  .gallerylist-wrapper:nth-child(3) {
    margin-right: 0px;
    display: none;
  }
  /* line 1501, ../sass/style.sass */
  .gallerylist-wrapper:nth-child(2) {
    margin-right: 0px;
  }

  /* line 1504, ../sass/style.sass */
  .single-blog {
    width: 100%;
    float: none;
    padding: 0%;
  }

  /* line 1508, ../sass/style.sass */
  .project-sidebar {
    width: 100%;
    float: none;
  }

  /* line 1511, ../sass/style.sass */
  .grids {
    margin: 1em 0em;
  }

  /* line 1513, ../sass/style.sass */
  .grid1 {
    width: 47%;
    float: left;
  }
  /* line 1516, ../sass/style.sass */
  .grid1:nth-child(2) {
    margin-left: 5%;
  }

  /* line 1518, ../sass/style.sass */
  .project-list1 {
    padding: 20px 20px 10px 20px;
  }
  /* line 1520, ../sass/style.sass */
  .project-list1 li:nth-child(3), .project-list1 li:nth-child(4), .project-list1 li:nth-child(5), .project-list1 li:nth-child(1) {
    display: none;
  }

  /* line 1523, ../sass/style.sass */
  h4.f-head {
    margin: 30px 0px;
  }

  /* line 1525, ../sass/style.sass */
  .span_1_of_3 {
    width: 48%;
  }
  /* line 1526, ../sass/style.sass */
  .span_1_of_3:nth-child(3) {
    display: none;
  }

  /* line 1529, ../sass/style.sass */
  .get-intouch-left-address {
    float: none;
    width: 100%;
    padding-right: 0%;
  }

  /* line 1533, ../sass/style.sass */
  .get-intouch-center-form {
    float: left;
    width: 100%;
    padding: 0%;
  }
}
@media only screen and (max-width: 640px) {
  /* line 1539, ../sass/style.sass */
  .bg_images {
    width: 100%;
  }

  /* line 1541, ../sass/style.sass */
  .logo {
    width: 24%;
    top: -20px;
  }

  /* line 1544, ../sass/style.sass */
  .bg_vedio {
    width: 100%;
  }
  /* line 1546, ../sass/style.sass */
  .bg_vedio > a > iframe {
    width: 460px;
    height: 315px;
  }

  /* line 1549, ../sass/style.sass */
  .social {
    width: 60%;
  }
  /* line 1551, ../sass/style.sass */
  .social ul li a {
    padding: 0.7em;
  }

  /* line 1553, ../sass/style.sass */
  .images a {
    padding: 0em;
  }

  /* line 1555, ../sass/style.sass */
  .para {
    width: 100%;
  }

  /* line 1557, ../sass/style.sass */
  .right-text {
    width: 75%;
  }

  /* line 1559, ../sass/style.sass */
  .span_1_of_about {
    width: 40%;
  }

  /* line 1561, ../sass/style.sass */
  .span_1_of_about1 {
    width: 46%;
  }

  /* line 1563, ../sass/style.sass */
  .about-histore {
    float: none;
    width: 100%;
  }

  /* line 1566, ../sass/style.sass */
  .about-topgrid1 {
    width: 100%;
    float: none;
    margin-right: 0%;
    margin-bottom: 1%;
  }

  /* line 1571, ../sass/style.sass */
  .gallerylist-wrapper span p {
    font-size: 0.9em;
    line-height: 1.4em;
  }

  /* line 1574, ../sass/style.sass */
  #small-dialog1 {
    max-width: 80%;
  }

  /* line 1576, ../sass/style.sass */
  ul.dc_pagination li:first-child {
    margin-right: 9%;
  }
}
@media only screen and (max-width: 480px) {
  /* line 1580, ../sass/style.sass */
  .header_bottom {
    top: 35px;
  }

  /* line 1582, ../sass/style.sass */
  .logo {
    width: 26%;
    top: 0px;
  }

  /* line 1585, ../sass/style.sass */
  .bg_vedio > a > iframe {
    width: 300px;
    height: 200px;
  }

  /* line 1588, ../sass/style.sass */
  .social {
    width: 80%;
  }

  /* line 1590, ../sass/style.sass */
  .span_1_of_about1 {
    width: 100%;
    float: none;
    margin: 0%;
  }

  /* line 1594, ../sass/style.sass */
  .span_1_of_about {
    width: 100%;
    float: none;
  }

  /* line 1597, ../sass/style.sass */
  .main1 {
    padding: 5em 0em 4em 0em;
  }

  /* line 1599, ../sass/style.sass */
  .gallery {
    margin: 25px;
  }

  /* line 1601, ../sass/style.sass */
  .gallerylist-wrapper {
    width: 100%;
    margin: 0%;
    float: none;
  }
  /* line 1606, ../sass/style.sass */
  .gallerylist-wrapper span p {
    margin: 1em 0.5em 3em 0.5em;
  }
  /* line 1608, ../sass/style.sass */
  .gallerylist-wrapper span h2 {
    margin: 1.5em 0em 1em 0em;
  }

  /* line 1610, ../sass/style.sass */
  .span_1_of_3 {
    width: 100%;
    float: none;
    margin: 10% 0%;
  }

  /* line 1614, ../sass/style.sass */
  .dc-head-info {
    width: 46%;
    margin: 3.1em 0em 0em 1em;
  }

  /* line 1617, ../sass/style.sass */
  .content-middle {
    padding: 2em 0em;
  }

  /* line 1619, ../sass/style.sass */
  .gallerylist-wrapper {
    margin-bottom: 1em;
  }

  /* line 1621, ../sass/style.sass */
  #gallerylist1 {
    padding: 0em;
  }

  /* line 1623, ../sass/style.sass */
  .get-intouch {
    margin: 4em 0 0;
  }
  /* line 1625, ../sass/style.sass */
  .get-intouch h3 {
    margin-bottom: 0.5em;
  }

  /* line 1627, ../sass/style.sass */
  .para {
    font-size: 1em;
  }

  /* line 1630, ../sass/style.sass */
  .grid_of_1 h3 {
    font-size: 1.2em;
  }
  /* line 1632, ../sass/style.sass */
  .grid_of_1 h4 {
    font-size: 1.3em;
  }
  /* line 1634, ../sass/style.sass */
  .grid_of_1 h5 {
    font-size: 1.2em;
  }

  /* line 1637, ../sass/style.sass */
  .part_of_1 p, .part_of_1 span {
    font-size: 1.1em;
  }

  /* line 1639, ../sass/style.sass */
  .comments-custom.unstyled .comments-custom_h, .images_1_of_4 h4 a, .about-topgrid1 h5, .about-histore ul li span, .questions h4 {
    font-size: 1.1em;
  }
}
@media only screen and (max-width: 320px) {
  /* line 1643, ../sass/style.sass */
  .logo {
    width: 28%;
    top: 3px;
  }

  /* line 1646, ../sass/style.sass */
  .main {
    padding: 0em 0em;
  }

  /* line 1649, ../sass/style.sass */
  .part_of_1 p, .part_of_1 span {
    font-size: 1.2em;
  }
  /* line 1651, ../sass/style.sass */
  .part_of_1 img {
    margin: 1px 4px -3px 0px;
  }

  /* line 1653, ../sass/style.sass */
  .image a {
    padding: 0.2em;
    width: 55%;
  }

  /* line 1656, ../sass/style.sass */
  .grid_of_1 span {
    width: 70px;
    padding: 0.6em 0em;
  }

  /* line 1659, ../sass/style.sass */
  .images a {
    margin: 10px;
  }

  /* line 1661, ../sass/style.sass */
  .bg_images a {
    padding: 1em;
  }

  /* line 1664, ../sass/style.sass */
  .bg_vedio > a > iframe {
    width: 200px;
    height: 150px;
  }
  /* line 1667, ../sass/style.sass */
  .bg_vedio a {
    padding: 1em;
  }

  /* line 1669, ../sass/style.sass */
  .social {
    width: 100%;
  }
  /* line 1670, ../sass/style.sass */
  .social ul li {
    margin-right: 13px;
  }
  /* line 1672, ../sass/style.sass */
  .social ul li a {
    padding: 0.5em;
  }

  /* line 1675, ../sass/style.sass */
  .gallerylist-wrapper {
    margin-bottom: 1em;
  }

  /* line 1677, ../sass/style.sass */
  #gallerylist1 {
    padding: 0em;
  }

  /* line 1679, ../sass/style.sass */
  .grid1 {
    width: 100%;
    float: none;
  }
  /* line 1682, ../sass/style.sass */
  .grid1:nth-child(2) {
    margin-left: 0%;
  }

  /* line 1684, ../sass/style.sass */
  .dc-head-info {
    margin: 1.1em 0em 0em 1em;
  }

  /* line 1686, ../sass/style.sass */
  .get-intouch {
    margin: 3em 0 0;
  }

  /* line 1688, ../sass/style.sass */
  .get-intouch-center-form input[type="text"] {
    width: 100%;
  }

  /* line 1690, ../sass/style.sass */
  .map {
    margin-top: 2em;
  }

  /* line 1692, ../sass/style.sass */
  .images_1_of_4 img {
    margin: 4px 0px 0px 2px;
  }

  /* line 1694, ../sass/style.sass */
  .get-intouch {
    margin: 3em 0 0;
  }

  /* line 1696, ../sass/style.sass */
  .content {
    margin: 2em 0em;
  }

  /* line 1698, ../sass/style.sass */
  .image {
    padding: 0em 0em;
  }

  /* line 1700, ../sass/style.sass */
  .gallery {
    margin: 15px;
  }

  /* line 1703, ../sass/style.sass */
  .gallerylist-wrapper span p {
    margin: 1em 0.5em 0.5em 0.5em;
  }
  /* line 1705, ../sass/style.sass */
  .gallerylist-wrapper span h2 {
    margin: 0.3em 0em 0.1em 0em;
    font-size: 1.4em;
  }

  /* line 1708, ../sass/style.sass */
  .get-intouch h3 {
    font-size: 1.3em;
  }

  /* line 1711, ../sass/style.sass */
  .get-intouch-left-address h4 {
    font-size: 1.1em;
  }
  /* line 1713, ../sass/style.sass */
  .get-intouch-left-address p {
    font-size: 1em;
  }
  /* line 1715, ../sass/style.sass */
  .get-intouch-left-address p a {
    font-size: 1em;
  }

  /* line 1717, ../sass/style.sass */
  .get-intouch-center-form h5, h5.head {
    font-size: 1.3em;
  }

  /* line 1719, ../sass/style.sass */
  .span_1_of_3 h3 {
    font-size: 1.1em;
  }

  /* line 1721, ../sass/style.sass */
  .about h3, h4.f-head {
    font-size: 1.3em;
  }

  /* line 1723, ../sass/style.sass */
  .main1 {
    padding: 3em 0em 4em 0em;
  }
}
